<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <style>
        .outer{
            width:80%;
            margin-left:auto;
            margin-right:auto;
        }
        .recipe_table{
            margin-left:auto;
            margin-right:auto;
            width: 700px; height: auto;
        }
        #recipe_thumbnail, img{width: 400px; height: 350px;}
    </style>

</head>
<body>
    <div class="outer">
        <br>
        <span>홈</span> > <span href="">레시피</span> > <span>김치볶음밥</span>
        <hr><br>

        <table class="recipe_table" border="1">
            <tr>
                <th colspan="2"><h2><b>김치 볶음밥</b></h2></th>
            </tr>
            <tr>
                <td rowspan="3" id="recipe_thumbnail"><img src="../resource/images/이미지.png"></td>
                <td>
                    <h5><b>#김치 #볶음밥 #계란</b></h5>
                    <div>김치볶음밥은 맛있고 간편하다.<br>맛있고 간편한 김치볶음밥</div><hr style="margin: 0;">
                </td>
            </tr>
            <tr>
                <td>
                    <h5><b>조리 시간</b></h5>
                    <ul>
                        <li>
                            필수 재료
                            <p>김치, 밥</p>
                        </li>
                        <li>
                            선택 재료
                            <p>김치, 밥</p>
                        </li>
                    </ul><hr style="margin: 0;">
                </td>
            </tr>
            <tr>
                <td>
                    <h5><b>조리 시간</b></h5>
                    <img src="../resource/images/stopwatch.png" style="width: 50px; height: 50px; float: left;">
                    <p style="font-size: 30px;"><b>10분</b></p>
                </td>
            </tr>
            <tr>
                <td colspan="2">만드는 방법</td>
            </tr>
            <tr>
                <td colspan="2">재료 전체선택</td>
            </tr>
            <tr>
                <td colspan="2">재료</td>
            </tr>
        </table>
    </div>
</body>
</html>