header {
    color: black;
    text-shadow: 1px 1px 2px lightgray;
}

img{
    height:200px;
}
header{
    width:80%;
    left:0; right:0;
    margin-left:auto;
    margin-right:auto;
}
.pagination {
    margin-top: 55px;
    width:200px;
    left:0; right:0;
    margin-left:auto;
    margin-right:auto;
} /* 가로 중앙 정렬 */

.pagination li a {
    color:#1fc7d6;
    background-color: white;
    margin-left: 1px;
    margin-right: 1px;
}

.pagination li a:hover {
    color:white;
    background-color: #bce7eb;
    margin-left: 1px;
    margin-right: 1px;
}

#backtotop{
    margin-left: 1%;
    position: fixed;
    z-index: 10;
}